.pills {
  /* Because .pills is part of a flex box. We don't want to stretch it */
  align-self: flex-start;
  margin-left: 50px;

  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pillsContainer {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px 3px 20px;
  width: max-content;
  height: max-content;
  margin-left: 5px;
  margin-top: 5px;
}

.delete {
  margin-left: 15px;
  border: 0.8px solid black;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
