.option {
  color: black;
  padding: 10px 17px;
}

.option:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.optionSelected {
  background-color: darkcyan;
}

.optionSelected:hover {
  background-color: darkcyan;
}
